@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
    background:  #0B132B;
}

.wrapper {
    width: 400px;
    background: #fff;
    border-radius: 5px;
}

.wrapper .title {
    line-height: 80px;
    background: #5BC0BE;
    padding-left: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 25px;
    color: #000000;
    font-weight: 600;
}

.wrapper form {
    padding: 30px 20px 25px 20px;
}

.wrapper form .row{
    height: 45px;
    background: #1C2541;
    margin-bottom: 15px ;
    position: relative;
    border-radius: 5px;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    background: #0B132B;
    color: #FFFFFF;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .pass {
    margin: -8px 0 12px 0;
}

.wrapper form .pass a{
    color: #000;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    padding-left: 0px;
    background-color: #0B132B;
    border: 1px solid #0B132B;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.wrapper form .button {
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 5px 10px rgb(0, 0, 0, 0.9);
}

.wrapper form .button:hover {
    transform: scale(0.9);
    background-color: white;
    color: #0B132B;
}